/*_pagination_container   */
._page_ul {
    display: inline-block;
    padding: 0;
}
.page_itme {
  list-style-type: none;
  display: inline-block;
  border: 1px solid gray;
  color: #000;
  background: bisque;
  padding: 5px;
}
._page_no.active{
  background-color: #717171;
}
.disabled:focus,.disabled:hover {
    cursor: not-allowed;
}
